@page
@model FizzBuzz.Pages.WynikiModel
@{
}

<p>Wyszukiwania: </p>
@if (Model.FBwynik != null)
            {
                <p>Liczba: @Model.FBwynik.Number</p>
                <p>Data wyszukiwania: @Model.FBwynik.thisDay.ToString("d")</p>
                <p>Wynik: @Model.Wyn</p>
            }